# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Caches
*.pyc

python-server/.envrc
python-server/.env
python-server/venv/
python-server/dataset/

cugl/external/
.DS_Store
/__pycache__/
NetLab/build/cmake/cmake
NetLab/build/cmake/build-debug
ShipLab/build/cmake/cmake
ShipLab/build/cmake/build-debug
gen/

compile_commands.json
.cache/
.vscode/
build/